@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  /* Colors */
  --vt-c-branco: #fff;
  --vt-c-preto: #000;
  --vt-c-cinza: #606060;


  /* Fonts */
  --vt-f-bree-serif: 'Bree Serif', serif;
  --vt-f-roboto:'Roboto', sans-serif;

  --vt-f-p: 1rem;
  --vt-f-m: 1.5rem;
  --vt-f-g: 2rem;

  /* REGIÕES REFORJADAS */
  --vt-c-noxus: linear-gradient(to left, #620e0e, #3a0101);
  --vt-c-ionia: linear-gradient(to left, #49979b, #29767A);
  --vt-c-yordle: linear-gradient(to left, #9e9e2c, #999913);
  --vt-c-shurima: linear-gradient(to left, #a7902d, #998013);
  --vt-c-piltover: linear-gradient(to left, #6a819e, #425872);
  --vt-c-zaun: linear-gradient(to left, #409020, #237005);
  --vt-c-demacia: linear-gradient(to left, #dcc74e, #dab901);
  --vt-c-sombras: linear-gradient(to left, #216d37, #0000004b);
  --vt-c-vazio: linear-gradient(to left, #620e0e, #510369);
  --vt-c-freljord: linear-gradient(to left, #ffffff86, #547bac);
  --vt-c-targon: linear-gradient(to left, #620e0e, #1e0369);

  /* RARIDADE */
  --tier1: #808080;
  --tier2: #2ec500;
  --tier3: #0d048e;
  --tier4: #7c0491;
  --tier5: #e7dc07;
}

/* semantic color variables for this project */
:root {
  /* Colors */
  --color-text: var(--vt-c-branco);

  /* Fonts */
  --font-family-title: var(--vt-f-bree-serif);
  --font-family-text: var(--vt-f-roboto);

  --font-size-nav: var(--vt-f-g);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

.noxus {
  background-image: var(--vt-c-noxus);
}
.ionia {
  background-image: var(--vt-c-ionia);
}
.demacia {
  background-image: var(--vt-c-demacia);
}
.zaun {
  background-image: var(--vt-c-zaun);
}
.piltover {
  background-image: var(--vt-c-piltover);
}
.ilha-das-sombras {
  background-image: var(--vt-c-sombras);
}
.yordle {
  background-image: var(--vt-c-yordle);
}
.shurima {
  background-image: var(--vt-c-shurima);
}
.vazio {
  background-image: var(--vt-c-vazio);
}
.targon {
  background-image: var(--vt-c-targon);
}
.freljord {
  background-image: var(--vt-c-freljord);
}

